.section {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  border-right: 1px solid #bdc3c7;
  background-color: #ecf0f1;
}

.section-image {
  max-width: 100%;
  height: auto;
}
